.header {
    box-shadow: 0 1px 1px var(--shadow);
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--full-white);
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    padding: .5rem 0;
}

.login {
    color: var(--black);
    display: flex;
    align-items: center;
}

.login::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../../Assets/usuario.svg') no-repeat center center;
    margin-left: .5rem;
    position: relative;
    top: -1px;
}